/* Universal Selector Ruleset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Site Scrolling Behavior */
html {
    scroll-behavior: smooth;
}

/* Consistent Section BG Color when Scrolling */
body {
    background-color: var(--boneColor);
}

/* Wesbite Animations */
@keyframes fadeIn-and-drop{
    from {
        transform: translateY(-6px); 
        opacity: 0;
    }
    to {
        transform: translateY(0); 
        opacity: 1;
    }
}

@keyframes fadeIn-and-rise {
    from {
        transform: translateY(6px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn-and-rise-long {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn{  
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes typing {
    from { 
        max-width: 0 
    }
    to { 
        max-width: 100% 
    }
}

@keyframes blink-type-cursor {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: var(--maizeColor);
    }
}

@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.fade-in {
    opacity: 1;
    transition: opacity 2s ease-in-out;
}

/* SOME GLOBAL VARIABLES */
:root {
    --maizeColor: #FFC404;
    --blueColor: #00274B;
    --boneColor: #FCFFF7;
    --darkOrange: #EE7600;
    --solidWhiteColor: #FFFFFF;
    --pitchBlack: #000000;
    --poppinsFont: 'Poppins', sans-serif;
    --openSansFont: 'Open Sans', sans-serif;
    --montserratFont: 'Montserrat', sans-serif;
    --robotoFont: 'Roboto', sans-serif;
    --pressStartFont: 'Press Start 2P', cursive;
    --pathwayExtremeFont: 'Pathway Extreme', sans-serif;
    --IBMPlexSansFont: 'IBM Plex Sans', sans-serif;
    --RobotoFlexFont: 'Roboto Flex', sans-serif;
    --interFont: 'Inter', sans-serif;
}

/* ------------------------------ */
/* PERSISTENT UP BUTTON CSS RULES */
/* ------------------------------ */

#back-to-top-btn {
    display: none;
    /* Changed from 'block' to 'none' */
    position: fixed;
    z-index: 1;
    bottom: 1.75rem;
    right: 1.75rem;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    opacity: 1;
    color: var(--maizeColor);
    cursor: pointer;
    border: solid var(--maizeColor) 3px;
    border-radius: 0.5rem;
    animation: fadeIn linear 0.75s;
    transition: background-color 0.75s, color 0.75s;
}

#back-to-top-btn:hover {
    background-color: var(--maizeColor);
    /* Updated the selector */
    color: var(--solidWhiteColor);
    /* Enlarge effect on hover */
    transition: background-color 0.75s, color 0.75s;
}

#back-to-top-btn.btnExit {
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

/* ------------------------------ */
/*      WEBSITE DARK MODE CSS     */
/* ------------------------------ */

/* TBD 

/* ------------------------- */
/* SECTION 1 INDEX CSS RULES */
/* ------------------------- */

/* Header & background image gradient */
.tile_one {
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)), url(./Images/beyster-building3.jpeg);
    background-position: center;
    background-size: cover; */
    position: relative;
    overflow: hidden;
}

.tile_one video {
    position: absolute;
    /* background-size: cover; */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100vh;
    height: 100vw;
    z-index: -1;
    transform: translate(-50%, -50%);
}

nav {
    display: flex;
    padding: 1.25rem 2rem;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    animation: fadeIn-and-drop linear 1s;
}

nav img {
    width: 100px;
    animation: fadeIn-and-drop linear 1s;
}

.nav-links {
    flex: 1;
    text-align: right;
    /* Messing around with fonts. */
    font-family: var(--pressStartFont);
    font-size: 1em;
}

.nav-links ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: var(--solidWhiteColor);
    text-decoration: none;
    transition: linear 0.5s;
}

.nav-links ul li a:hover {
    color: var(--maizeColor);
    text-decoration: none;
    transition: linear 0.5s;
}

.nav-links ul li::after {
    /* Underline Animation */
    /* content: '';
    width: 0%;
    height: 2px; */
    background: var(--maizeColor);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    /* Underline Animation */
    /* content: '';
    width: 100%;
    height: 2px; */
    background: var(--maizeColor);
    display: block;
    margin: auto;
}

/* text_box base ruleset */
.name_and_text_with_button {
    width: 90%;
    color: var(--solidWhiteColor);
    font-family: var(--interFont);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* text_box heading type 1 ruleset */
.name_and_text_with_button h1 {
    color: var(--solidWhiteColor);
    font-size: 5.5em;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    border-right: .10em solid var(--maizeColor);
    animation: typing 5s steps(45, end), blink-type-cursor .8s step-end infinite;
}

/* text_box paragraph ruleset */
.text_box p {
    margin: 0.625rem 0rem 1.5625rem;
    font-size: 1.25em;
    color: var(--solidWhiteColor);
    /* animation: fadeIn linear 1s; */
    animation: fadeIn-and-rise 1s ease-in-out;
}

/* Learn more button ruleset */
.learn-more-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--solidWhiteColor);
    border: 2.5px solid var(--solidWhiteColor);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    animation: fadeIn linear 1s;
    transition: 0.75s;
}

/* Learn more button hover effect */
.learn-more-btn:hover {
    border: 1px solid var(--maizeColor);
    background: var(--maizeColor);
    font-size: 20px;
    transition: 0.75s;
}

/* ------------------------- */
/* SECTION 2 INDEX CSS RULES */
/* ------------------------- */

/* Center Section */
.tile_two {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    padding: 25% 14.5%;
    font-family: var(--interFont);
    transition: opacity 1s ease-in-out;
    animation: fadeIn-and-rise-long linear 1.5s;
    background: var(--boneColor) !important;
}

/* Position the image to the left of the text */
.selfie_picture {
    float: left;
    margin-right: 1.5rem;
}

.tile_two_photo {
    border-radius: 50%;
    width: 295px;
    height: 295px;
    /* make image round */
    overflow: hidden;
    width: 18.75rem;
}

.tile_two_name {
    font-size: 4rem;
    color: var(--blueColor);
}

.tile_two_subheading {
    color: var(--blueColor);
}

.tile_two_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.75px;
}

.tile_two_links a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent);
    opacity: 0;
    transform: translateX(-150%);
    transition: opacity 0.5s, transform 0.5s;
    /* Move the transition property here */
    pointer-events: none;
    /* To prevent the shine effect from blocking the click event */
}

.tile_two_links a:hover::before {
    opacity: 1;
    transform: translateX(150%);
}

.tile_two_links a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0 10px;
    border-radius: 50%;
    background-color: transparent;
    color: var(--blueColor);
    text-decoration: none;
    font-size: 3rem;
    position: relative;
    overflow: hidden;
}

.name_and_description h2 {
    margin-bottom: 0.75rem;
}

.pic_and_description {
    display: flex;
    align-items: flex-start;
}

/* "View Skills" and "View Projects" buttons */
.btn_row {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 25px;
}

.view_skills_btn,
.view_projects_btn {
    border: 3px solid var(--blueColor);
    border-radius: 5px;
    margin: 5px 15px 0px 0px;
    background-color: transparent;
    color: var(--blueColor);
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.75s;
    position: relative;
    top: 0;
    box-shadow: 0 5px 0 var(--blueColor);
    overflow: hidden;
    text-decoration: none;
}

.view_skills_btn:hover,
.view_projects_btn:hover {
    background-color: var(--maizeColor);
    color: var(--blueColor);
}

/* ------------------------- */
/* SECTION 3 INDEX CSS RULES */
/* ------------------------- */

.tile_three {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--boneColor);
    position: relative;
}

.content_wrapper {
    padding: 120px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--boneColor);
    width: 100%;
}

.title_text {
    color: var(--blueColor);
    font-family: var(--interFont);
    font-size: 3rem;
    margin-bottom: 30px;
}

.skill_tile {
    background-color: var(--boneColor);
    border: 3px solid var(--blueColor);
    /* border-bottom: 0px solid var(--blueColor); */
    border-radius: 15px;
    overflow: hidden;
    /* Inner tile content padding */
    padding: 25px;
    position: relative;
    transition: all 0.3s;
    box-shadow: 0 5px 0 var(--blueColor);
    margin-bottom: 0px;
    /* Tile height */
    height: 20rem;
}

.skill_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 0px;
    /* Space between tiles */
    gap: 0px 25px;
    width: 100%;
    height: 93%;
}

.skill_tile:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 0 var(--blueColor);
    background-color: var(--maizeColor);
}

.skill_tile i {
    font-size: 2.5rem;
    margin-bottom: 15px;
    padding-left: 43.5%;
    color: var(--blueColor);
}

.skill_tile h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    color: var(--blueColor);
    /* font-family: var(--robotoFont); */
    font-family: var(--interFont);
}

.skill_tile ul {
    list-style: none;
    padding: 0;
}

/* Skill tile bulleted text */
.skill_tile ul li {
    color: var(--blueColor);
    margin-bottom: 5px;
    font-size: 0.875rem;
    /* font-family: var(--robotoFont); */
    font-family: var(--interFont);
}

.skill_tile ul li::before {
    content: "➤";
    display: inline-flex;
    margin-right: 5px;
}

.skill_description ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.skill_description ul li {
    margin-bottom: 5px;
    color: var(--blueColor);
    /* font-family: var(--RobotoFlexFont); */
    font-family: var(--interFont);
    font-size: 0.875rem;
}

/* MacOS Tile 3 Buttons */

.macos-buttons {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

.macos-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
    border: 1px solid var(--blueColor);
}

.macos-close {
    background-color: #ff5f56;
}

.macos-minimize {
    background-color: #ffbd2e;
}

.macos-maximize {
    background-color: #27c93f;
}

/* ------------------------- */
/* SECTION 4 INDEX CSS RULES */
/* ------------------------- */


.timeline-section {
    background-color: var(--boneColor);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

.timeline_title {
    color: var(--blueColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: var(--interFont);
    font-size: 3rem;
    padding-top: 4rem;
    margin-bottom: 3px;
}

.timeline_subtitle {
    color: var(--blueColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-family: var(--interFont);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 15px;
}

.timeline-container {
    width: 100%;
    overflow-x: auto; /* Horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    position: relative;
    height: calc(100vh - px); /* Adjust the height if needed */
}

.timeline {
    display: flex;
    width: 100vw;
    height: 75vh;
    padding: 1.25rem 0rem 0rem 0rem;
    white-space: nowrap;
    position: relative;
    align-items: center;
}


.timeline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--blueColor);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.event {
    position: relative;
    display: flex;
    /* display: inline-block; */
    width: 300px;
    height: 225px;
    margin: 0rem 1.1rem 1rem 2.5rem;
}

.event::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--blueColor);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-70%);
}

/* Odd numbered events: Content box appears above the dot */
.event:nth-child(odd) .content {
    margin-bottom: 20px;
    transform: translateY(-66%);
}

/* Even numbered events: Content box appears below the dot */
.event:nth-child(even) .content {
    margin-top: 20px;
    transform: translateY(60%);
}

.content {
    /* width: 800px;
    padding: 1rem;
    background: var(--boneColor);
    border: 3px solid var(--blueColor);
    border-radius: 10px;
    text-align: center;
    word-wrap: break-word;
    transition: 0.75s ease;
    white-space: normal;
    overflow: auto; */

    border: 2.5px solid var(--blueColor);
    border-radius: 10px;
    margin: 0px 15px 0px 0px;
    background-color: transparent;
    color: var(--blueColor);
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.75s;
    position: relative;
    top: 0;
    white-space: normal;
    box-shadow: 0 5px 0 var(--blueColor);
    overflow: hidden;
    text-decoration: none;
}

/*
    Company Logo Scaling Below
*/

.hsmse_logo {
    width: 30%;
    height: auto;
}

.umich_logo {
    width: 29%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px
}

.mfly_logo {
    width: 70%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 12px;
}

.adi_logo {
    width: 65%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 12px;
}

.ques_mark {
    width: 35%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 12px;
}

/*
    Event title, location, and date text.
*/

.event-title {
    padding-bottom: 12px;
    font-size: 21px;
    font-family: var(--interFont);
    color: var(--blueColor);
}

.location {
    font-size: 16px;
    font-family: var(--interFont);
    color: var(--blueColor);
}

.event-date {
    font-size: 14px;
    font-family: var(--interFont);
    color: var(--blueColor);
}

.content:hover {
    background: var(--maizeColor);
}

/* Modal CSS */

.myModal {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 50;
    white-space: normal;
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: fadeIn;
    animation-duration: 0.5s;
    overflow-y: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--boneColor);
    z-index: 50;
    padding: 20px;
    border: 2px solid var(--blueColor);
    border-radius: 10px;
    width: 700px;
    height: 500px;
}

.modal-title {
    padding-top: 32px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 34px;
    font-family: var(--interFont);
    color: var(--blueColor);
}

.modal-location {
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 24px;
    font-family: var(--interFont);
    color: var(--blueColor);
}

.modal-date {
    padding-top: 6px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 18px;
    font-family: var(--interFont);
    color: var(--blueColor);
}

.modal-description {
    padding-top: 30px;
    padding-left: 18px;
    padding-right: 16px;
    font-size: 16px;
    font-family: var(--interFont);
    color: var(--pitchBlack);
}

.modal-skills {
    padding-top: 28px;
    padding-left: 18px;
    padding-right: 16px;
    font-size: 16px;
    font-family: var(--interFont);
    color: var(--pitchBlack);
}

/* Provided MacOS buttons styling */
.macos-buttons {
    display: relative;
    position: absolute;
    top: 10px;
    left: 10px;
}

.macos-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
    border: 1px solid var(--blueColor);
    cursor: pointer;
}

.macos-close {
    background-color: #ff5f56;
}

.macos-minimize {
    background-color: #ffbd2e;
}

.macos-maximize {
    background-color: #27c93f;
}

/* ------------------------- */
/* SECTION 5 INDEX CSS RULES */
/* ------------------------- */

.projects-section {
    background-color: var(--boneColor);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    font: var(--interFont);
}

/* General Styles */
.project-title { 
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 0.75rem;
    font-family: var(--interFont);
    color: var(--blueColor);
    font-size: 3rem;
}

/* Formatting for warning icon tooltip. */

.subtitle-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: var(--interFont);
}

.exclamation-icon {
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 0.625rem; /* Space between subtitle and icon */
    margin-bottom: 1.25rem;
    color: var(--blueColor);
}

.exclamation-icon .tooltip {
    position: absolute;
    top: 50%; /* Adjust this value as needed */
    left: 140%; /* Positions the tooltip to the right of the icon */
    transform: translateY(-50%); /* Adjusts vertical alignment */
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 10px;
    width: 19.375rem; /* Adjust width as needed */
    z-index: 10;
    font-size: 13px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.exclamation-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.project-subtitle {
    color: var(--blueColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto; /* scaled this down from 100vw tro auto for warning icon */
    font-family: var(--interFont);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

/* Filter Buttons */
.filter-button {
    /* border: 2px solid darkred;
    background-color: lightcoral; */
    border: 0.125rem solid var(--blueColor);
    background-color: rgb(100, 162, 220);
    margin: 0.375rem;
    margin-bottom: 1.25rem;
    border-radius: 0.25rem;
    padding-right: 0.1875rem;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.filter-button.selected {
    /* border: 2px solid darkgreen;
    background-color: lightgreen; */
    border: 0.125rem solid var(--maizeColor);
    background-color: rgb(237, 234, 122);
}

.filter-button .icon {
    margin-right: 0.3125rem;
    margin-left: 0.1875rem;
}

/* Carousel Styles */

.carousel-window {
    display: flex;
    overflow: hidden;
    width: calc(2 * (50% + 1.25rem));  /* NEW: Fix width to show exactly two panes */
}

/* .pane {
    flex: 0 0 calc(40% - 20px);
    margin: 10px;
    border: 2px solid var(--blueColor);
    border-radius: 10px;
}

.pane-image img {
    width: 100%;
    height: auto;
}

.pane-content {
    font: var(--interFont);
    padding-left: 0.5rem;
} */

.pane {
    /* Adjust pane width via flex. */
    flex: 0 0 calc(50% - 1.25rem);
    margin: 0.625rem;
    border: 0.125rem solid var(--blueColor);
    display: flex;
    flex-direction: column;  /* Use flex layout to divide the height equally */
    border-radius: 0.75rem;
    transition: opacity 0.3s ease-in-out;
    /* width: 21.875rem; */
    width: 14.5rem;
    height: 36.25rem;
    /* z-index: 30; */
}

.pane.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
  
.pane.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}
  
.pane-image {
    flex: 0.5;  /* Takes up 50% of the height */
    overflow: hidden;  /* To ensure that the image does not overflow */
}

.pane-image img {
    width: 100%;  
    height: 100%; 
    object-fit: cover;  /* The image will be resized to cover the whole area, possibly cropping the image */
    /* border-radius: 0.625rem 0.625rem 0 0; */
    border-radius: 0.61rem 0.61rem 0 0;
}

.pane-content {
    flex: 1;
    padding: 0.9375rem; 
    padding-left: 1.25rem;
    font-family: var(--interFont);
    color: var(--blueColor);
}

.lock-icon {
    position: relative;
}

.lock-icon i {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-right: 0.625rem;
    font-size: 1.5rem;
}

.tooltip {
    position: absolute;
    top: 1.25rem;
    right: 0;
    background-color: #fff;
    border: 0.0625rem solid #cccccc;
    padding: 0.625rem;
    width: 18.75rem;
    z-index: 10;
    font-size: 0.8125rem;
    border-radius: 0.3125rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, top 0.3s ease-in-out;
}

.lock-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: 0;
}

/* Carousel Styles */
.carousel {
    display: flex;
    align-items: center;  /* Center the items vertically */
    padding: 0 2.5rem;
}

.carousel-button {
    border: 0.1875rem solid var(--blueColor);
    border-radius: 0.375rem; 
    background-color: transparent; 
    padding: 0.5rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    align-items: center;
    z-index: 20;
    justify-content: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.carousel-button i {
    color: var(--blueColor);
    font-size: 1.5rem;
}

.carousel-button:hover {
    background-color: var(--blueColor);
}

.carousel-button:hover i {
    color: white;
}

.carousel-window {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    flex: 1;  /* Take up the remaining space */
}

.carousel-dot {
    display: inline-block;
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--maizeColor);
    border-radius: 50%;
    margin: 0.3125rem;
    margin-top: 1.875rem;
}

.carousel-dot.active {
    background-color: var(--blueColor);
    width: 0.625rem;
    height: 0.625rem;
}

.dot.active {
    background-color: maize; /* Replace with the actual color code */
    /* transform: scale(1.2); Makes it a bit bigger */
    transition: all 0.3s ease;
}

/* Shake Animation */
/* @keyframes shake {
    0%, 100% {transform: translateX(0);}
    25% {transform: translateX(-8px);}
    50% {transform: translateX(8px);}
    75% {transform: translateX(-8px);}
} */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-animation {
    animation: shake 0.3s ease-in-out;
}

/* Dot transition */
.carousel-dot.active {
    animation: activeDot 0.3s ease-in-out;
}

@keyframes activeDot {
    from {
        width: 0.625rem;
        height: 0.625rem;
    }
    to {
        width: 0.625rem;
        height: 0.625rem;
    }
}
  
/* Pane Descriptions CSS */

.pane-c-title {
    font-size: 2.1rem;
    padding-bottom: 0.625rem;
}

.pane-date {
    font-size: 1rem;
    padding-bottom: 0.625rem;
}

.pane-concept-text {
    font-size: 1rem;
    padding-bottom: 0.625rem;
}

.desc {
    font-size: 1rem;
    padding-bottom: 0.625rem;
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
